Instructions, circuit diagram, BOM and boards/panels can be purchased at http://neutron-sound.com/noa.html

boards, panels, kits, sometimes complete modules 
www.synthcube.com

boards, control kits: 
www.thonk.co.uk


To program the teensy 3.1/3.2 you will need arduino IDE 1.65 for win/lin/mac and teensyduino, which will automatically install it's extentions to the arduino  installation


IMPORTANT!!!!1111one

If you are programming the Teensy in-module while your synthesizer is turned on, you MUST break the external power jumper on the teensy.

please see http://neutron-sound.com/noa.html